@import "tailwindcss";
/* @tailwind base;
@tailwind components; */
@tailwind utilities;

/* A4 Print Settings */
@page {
  size: A4;
  margin: 20mm;
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    background: white;
  }
}

::-webkit-scrollbar{
  display: none;
}